name: Lab3 CI - Docker Compose test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'

      - name: Build with Maven
        run: mvn -B clean package

      - name: Run docker compose
        run: docker compose up --abort-on-container-exit --build
